#fullpage
	font-family: 'Open Sans', sans-serif
	font-weight: 300
	#section0
		.linecolors
			width: 10px
			height: 300vh
			background: $azul
			margin-left: 8%
			position: relative
			top: 10%
			border-radius: 20px 20px 0 0
			background: rgba(48,234,255,1)
			background: -moz-linear-gradient(top, rgba(48,234,255,1) 0%, rgba(255,72,11,1) 50%, rgba(91,1,85,1) 100%)
			background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(48,234,255,1)), color-stop(50%, rgba(255,72,11,1)), color-stop(100%, rgba(91,1,85,1)))
			background: -webkit-linear-gradient(top, rgba(48,234,255,1) 0%, rgba(255,72,11,1) 50%, rgba(91,1,85,1) 100%)
			background: -o-linear-gradient(top, rgba(48,234,255,1) 0%, rgba(255,72,11,1) 50%, rgba(91,1,85,1) 100%)
			background: -ms-linear-gradient(top, rgba(48,234,255,1) 0%, rgba(255,72,11,1) 50%, rgba(91,1,85,1) 100%)
			background: linear-gradient(to bottom, rgba(48,234,255,1) 0%, rgba(255,72,11,1) 50%, rgba(91,1,85,1) 100%)
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#30eaff', endColorstr='#5b0155', GradientType=0 )

		.content
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%, -50%)
			.logo
				max-width: 500px
				margin: 0 auto 50px
				img
			.description
				max-width: 600px
				margin: 0 auto 50px
				text-align: center
				p
					font-size: 2.2em
			.pregunta
				text-align: center
				max-width: 300px
				margin: 0 auto
				p
					font-size: 2.2em
				.line
					margin: 0 auto
					text-align: center
					width: 80%
					height: 1px
					background: $naranja
					animation: linebtn 800ms infinite
	#section1
		.content
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			text-align: center
			.numero
				cursor: pointer
				margin-bottom: 50px
				p
					font-size: 4em
			.lead
				cursor: pointer
				p
					font-size: 4.5em
			.line
				margin: 0 auto 30px
				text-align: center
				width: 300px
				height: 1px
				background: $azul
				animation: linebtn 800ms infinite
			.description
				display: none
				p
					font-size: 1.5em
	#section2
		.content
			position: absolute
			top: 50%
			left: 50%
			transform: translate(-50%,-50%)
			text-align: center
			.numero
				cursor: pointer
				margin-bottom: 50px
				p
					font-size: 4em
			.lead
				cursor: pointer
				p
					font-size: 4.5em
			.line
				margin: 0 auto 30px
				text-align: center
				width: 300px
				height: 1px
				background: $azul
				animation: linebtn 800ms infinite
			.description
				display: none
				p
					font-size: 1.5em
@keyframes linebtn
	0%
		opacity: 1
	50%
		opacity: 0
	100%
		opacity: 1
